body{
  text-align: center;
}

li{
  margin: 40px;
  font-size: 18px;
}

.hero-unit{
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
}

/* bounce in anmiation */
.bin {
	        font-size: 50px;
	        color: #00FFFF;
	        font-weight: bold;
          margin-top: 50px;
	        animation: bounceIn 2s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


/* heart beat animation*/
.human-heart {

	    width:150px;
	    height:150px;
      margin-top:100px;
}

.human-heart {
  
  animation:Heartbeat 1.3s forwards infinite;
}

@keyframes Heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


/* balls ease in out animation */
.ball .fas{
   position: absolute;
    top:-2000px;
   font-size: 30px; 
}

#lightbule{
   
  padding-left:40px;
  color: lightblue;
  animation: ball 2.5s ease-in-out infinite;
}

#red{
   
    padding-left:80px;
  color: red;
  animation: ball 2.5s ease-in-out infinite .1s;
}

#blue{
  
   padding-left:120px;
  color: blue;
  animation: ball 2.5s ease-in-out infinite .15s;
}

#yellow{
  
  padding-left:160px;
  color: yellow;
  animation: ball 2.5s ease-in-out infinite;
}

#lightgreen{
  
  padding-left:200px;
  color: lightgreen;
  animation: ball 2.5s ease-in-out infinite .20s;
}

#purple{
  
  padding-left:240px;
  color:purple;
  animation: ball 2.5s ease-in-out infinite .05s;
}

@keyframes ball{
  0%{ top:-1000px; }
  20%{ top:250px; }
  30%{ top:235px; }     
  40%{ top:250px; }
  60%{ top:235px; }
  80%{ top:250px; }     
  100%{ top:-1000px; }
}


/* clock rotate animation */

.clock{
  position: absolute;
  width: 25%;
  height: 700px;
  display: inline-block;
  
}

p{
  margin-left: 90px;
   font-size: 25px;
   color: #00bfff; 
   font-weight: bold;
   
 }

.clock1{ 
         width:400px;
         height:400px;
}

.clock .hour{
  position: absolute;
  top: 30%;
  left: 55%;    
  width: 10%;
  transform-origin: 12px 12px;
  animation: rotate 4s linear infinite;
}

.clock:hover .hour{
  animation-play-state: paused;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}


/* forwards and normal animaton */

.forward{
  width: 500px;
  height: 400px;
  display: inline-block; 
  
  font-size: 20px;
  text-align: center;
    
}


.forward #p1,#p2{
  border-radius: 15px;
  padding: 20px;
  color: white;

}

#p1 {
    background-color:#00bfff; 
}

#p2{
    background-color: #ff794d;
}

.forward:hover  #p1{
  animation: forward 2s ease-in-out forwards;
}

.forward:hover #p2{
  animation: forward 2s ease-in-out;
}

@keyframes forward {

  100% { transform: scale(1.4); }

}

/*loading animation*/
.container{
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

h1{

  text-align: center;
}

.bar{
  width: 500px; 
  height: 50px;
  border: 5px #2E4053 solid;
  border-radius: 10px; 
}

.status{
  width: 10px;
  height: 50px;
  background-color: #5DADE2;
  animation: load 6s infinite;
  transform-origin: left;
  animation-timing-function: ease-in-out;
}

@keyframes load{
  from{
    transform: scaleX(1);
  }
  to{
    transform: scaleX(50);
  }
}